<extra_id_0>It is one thing to say that something should be done, but quite a different matter to do it.</s>
<extra_id_0>Poverty with security is better than plenty in the midst of fear and uncertainty.</s>
<extra_id_0>It is better to yield than to come to misfortune through stubbornness.</s>
<extra_id_0>Preparedness for war is the best guarantee of peace.</s>
<extra_id_0>Even the weakest may find means to avenge a wrong.</s>