<extra_id_0>There are many who pretend to despise and belittle that which is beyond their reach.</s>
<extra_id_0>Expect no reward for serving the wicked.</s>
<extra_id_0>A kindness is never wasted.</s>
<extra_id_0>We are often of greater importance in our own eyes than in the eyes of our neighbor. The smaller the mind the greater the conceit.</s>
<extra_id_0>Our best blessings are often the least appreciated.</s>