Do not attempt the impossible.
Better to yield when it is folly to resist, than to resist stubbornly and be destroyed.
In a pinch a good use of our wits may help us out.
Those who seek to harm others often come to harm themselves through their own deceit.
The evil doer often comes to harm through his own deceit.