<extra_id_1>一个烈日炎炎的午后,小和尚走到地里,一串串饱满的豆荚被小和尚碰得刷拉刷拉响。随后,有些豆荚爆开了,黄澄澄的豆粒蹦得到处都是,豆秸上的空壳则打了卷,像泄了气的皮球似的,很伤心、很遗憾的样子。小和尚怕糟践了即将到口的粮食,回去找出镰刀,告诉老和尚:豆子都熟透了,赶快收割吧。老和尚说:明天清晨再割吧。小和尚以为他没时间,就说:你没空的话,就让我去割吧。老和尚说:你不能去!现在正是烈日当头,豆荚都晒焦了,一碰就爆开了,豆粒四处蹦,无法收拾。等明天清晨,夜里下了露水,豆荚潮湿了,就不会爆开了。第二天一早,小和尚就与老和尚一起去割豆子。果然,豆秸、豆荚潮乎乎的。直到割完,也没有一个豆荚爆开,一个豆粒也没有损失。<extra_id_0></s>
<extra_id_1>农夫:“没,我担心天不下雨。”那人又问:“那你种棉花没?”农夫:“没,我担心虫子吃了棉花。”那人再问:“那你种了什么?”农夫:“什么也没种,我要确保安全。”<extra_id_0></s>
<extra_id_1>名动天下,被誉为“天下第一名马”。白龙马想念家乡,找驴,羊,牛等儿时伙伴玩,驴迫不及待询问成功秘诀,白龙马说:努力工作!这时,驴,委屈得嚎啕大哭:为什么自己这样努力工作却一无所获?白龙马说:“我去取经时大家也没闲着,甚至比我还忙还累。我走一步,你也走一步,只不过我目标明确,十万八千里我走了个来回,而你在磨房自己的小圈圈原地踏步。”驴愕然:什么是目标?像驴一样勤奋,工作却原地踏步;像驴一样劳累,得到的却是皮鞭,这是很多职场人真实的体验和感受。其实,摆脱驴的命运,变身职场千里马得到赏识并重用,并不是没可能。读读下面的文字,或许我们能从中找到突破口。你是否只做一样工作?寓言一:动物们要举行一场联谊会,领导秘书狐狸对驴说:“你的嗓门高,来曲独唱吧。”驴说:“我不去,我唱得很难听。”狐狸说:“那你去试试做主持人吧。”驴说:“我不去,我形象不好。”狐狸说:“那你干什么?”驴说:“我只拉磨。”狐狸说:“好,你就去拉磨吧。”<extra_id_0></s>
<extra_id_1>名叫威尔斯。在威尔斯海岸金色的沙滩上,许多渔民都在利用这片美丽的露天市场摆摊卖鱼,得天独厚的自然条件给了他们无尽的财富。可是最近半年来,当地的海鸥群却成了渔民们的大麻烦。一大早,渔民们摆好摊子,拿出刚从大海里捕捞的新鲜海货,可是率先吸引来的“顾客”却令他们头疼不已:一只只海鸥像箭一样俯冲下来,动作迅速地叼走一些珍贵的鳕鱼或者鲑鱼......渔民们忍无可忍,开始想尽一切近似残忍的手法驱赶海鸥......可是有一个名叫亨特的渔民很特别,他看着海鸥叼走鱼却并不动怒,有时甚至抓起一条鱼欢呼着抛向空中,引得那些可爱的海鸥互相争食。不少渔民都取笑他:“你这个大傻瓜,总有一天那些海鸥会让你变成穷光蛋!”没过多久,对海鸥的无情驱赶终于有了成效。可是许多渔民发现,他们的生意却变得每况愈下。原来引得不少游客慕名而来的,正是这些在当地小有名气的海鸥。海鸥少了,游客自然也少了。更让渔民们不可思议的是,他们发现亨特的生意却异常火爆。原来,亨特的鱼摊因为有了贪嘴的海鸥而名声大噪,附近的许多孩子和外地游客都会聚集在他的鱼摊旁,一边挑选海货,一边等着抓拍海鸥吃鱼的有趣画面。这样一来,生意自然红火。亨特用他看似很傻的举动赢得了意外的回报。<extra_id_0></s>
<extra_id_1>最幸福的时刻,不能忘记人生的坎坷。最悲伤的时刻,不能忘记信念。人生不是铺满玫瑰花的途径,每天都是奋斗。每个人的人生过程,是继续不断在奋斗的,人生的目的是争取胜利与光荣。人自哌哌堕地以至衰老,无时无刻不是在奋斗状态中。我们看那一部名人传记,他们事业的成功,没有不是经过奋斗而来,就一般平庸的生活,也莫不是从奋斗中得来。人生在少年时期,除了受父母的保护,师友的指导外,就得与寒暑奋斗,与疾病奋斗,若家境贫寒,就得与生活奋斗。到了青年时期,更要自己与自己奋斗,这是人生大奋斗的预备时期。所有壮年立业的力量,都在这个时期学习完成和储备起来,是人生一大关键。就是把身体锻炼好,品性修养好,学术研究好,同时为了争取美满的姻缘,更需要在情场上大大的奋斗一场。壮年时期,是人生奋斗最激烈,最精采的时期,能否博得人的喝采,表现的出现色,全看你的如何努力而定。当你跨入社会之初,你看见的外表是壮丽的,是灿烂的,你将感到充满诱惑,反之到处佈置着陷阱,步步荆棘,处处障碍。你想做一个正人,或红人,名人,伟人。须拿出你全副的精神,与社会奋斗,为事业奋斗打出一条血路来。等到夺取据点,脚跟站稳,然后运用你的地位,权力,经济,手腕各种力量。发展你的抱负,发挥你的才能,日积月累,由小而大,而须时时保持继续不断的,精益求精,实是求是的加以改良,充实,扩展以底于成。那么问你?人生奋斗有期限吗?肯定的答案是没有的。生活一分钟,一秒钟,就得要奋斗一分钟一秒钟,说白了,人生就是奋斗。<extra_id_0></s>