<extra_id_1>十分高兴,打算冒充蜜蜂去花丛里欺骗花的感情、盗取花蜜。可是它在花丛里飞来飞去不知飞了几个来回,却不见有一朵花向它绽放笑脸,他十分不解,转头问蜜蜂到底原因何在?蜜蜂笑着回答说:“你只是外形像我,事实上并不是我!因此,即使是一辈子蹲在花丛里,花也不会把你当成我!”<extra_id_0></s>
<extra_id_1>有位病人手中握着一张相片,一边哭一边用头撞墙。护理长说:“他曾深爱相片中的女人,无论是醒着或睡觉都不肯将照片放下,但那女人却嫁给别人,他因此发疯!”这时隔壁房间有一个人也用头用力撞墙。官员问:“他又怎么了?”护理长说:“他就是娶了那位女人的人!”<extra_id_0></s>
<extra_id_1>给爷来杯水!猪听后也学道:给爷也来杯水!乘务员把猪和乌鸦扔出机舱。乌鸦笑着对猪说:傻了吧?爷会飞!<extra_id_0></s>
<extra_id_1>躲在洞穴中大声呻吟,附近的一些动物听到狮子的呻吟声,纷纷进洞探视。狐狸听到了这消息,也前往探视,走到洞穴前,只听到老狮子呻吟声越来越大,可怜极了,这时原本打算进去的狐狸,忽然竖起耳朵,收回已经跨进洞穴的前脚,在洞穴四周来回踱步。洞里的老狮子眼见狐狸迟迟没有进洞,忍不住问狐狸说:“狐狸啊!你既然来了,为什么不进来呢?”狐狸回答:“我只见一些往里走的动物脚印,却看不到往外走出来的脚印,我怎么敢进去呢?”<extra_id_0></s>
<extra_id_1>就一直跟在她后面走了很长的一段路,最后这位女郎忍不住转身问他说:“你为什么一直老跟着我?”他很诚恳的对她表白说:“因为你是我所见过最美丽最有气质的女人,请你答应我,当我的女朋友!”女郎回答说:“现在只要你回头看,就能看到我妹妹,她长得比我还漂亮!”那位男子听了,马上转过身,但看到的只是随处可见到的普通女子。“你为什么骗我?”他质问那位女郎。“是你在骗我啊!如果你真的喜欢我,为何还要回头看呢?”女郎回答说,接着转身快步离去。<extra_id_0></s>