<extra_id_1>一空手。回来时，拿伞的湿透了，拿拐杖的跌伤了，第三个好好的。原来，雨来时有伞的大胆地走，却被淋湿了；走泥路时，拄拐杖的莽撞地走，时常跌倒；什么都没有的，大雨来时躲着走，路不好时小心走，反倒无事。<extra_id_0></s>
<extra_id_1>例如，第一个防火警铃就是在实验室里一次不起眼的事件下产生的。杜妥•波尔索当时正在试验一个控制静电的电子仪器，忽然他注意到旁边一个技师所抽的香烟把仪器的马表弄坏了。起初波尔索觉得很懊恼，因为必须中止实验，重新再装一个马表。后来他想到，马表对烟的反应可能是一个有价值的资讯。这个短暂并且看似不起眼的小事件，促使波尔索发明了第一套美制的防火警铃系统一－－套拯救了成千上万人生命的系统。现在风靡世界的“背跃式”跳高技术首创者、运动员理查德，福斯伯，11岁那年在上小学体育课时，一次老师点名叫他跳高。当时福斯伯思想正在开小差，在慌乱中匆匆奔向横杆，结果是面向老师，背对横杆，并在情急之下，把老师教的姿势都忘了。于是他急中生智，索性顺势就地腾起，奇迹般地跃过了1。15米的横杆。他的体育老师慧眼识珠，及时帮助他完善这种独特的跳法。经过多年训练，福斯伯终于在1968年墨西哥奥运会上用“背跃式”征服了2。24米的高度，打破了当时的奥运会记录。<extra_id_0></s>
<extra_id_1>几经周折才被一家礼品公司招聘为业务员。她们没有固定的客户，也没有任何关系，每天只能提着沉重的钟表、影集、茶杯、台灯以及各种工艺品的样品，沿着城市的大街小巷去寻找买主。五个多月过去了，她们跑断了腿，磨破了嘴，仍然到处碰壁，连一个钥匙链也没有推销出去。无数次的失望磨掉了妹妹最后的耐心，她向姐姐提出两个人一起辞职，重找出路。姐姐说，万事开头难，再坚持一阵，兴许下一次就有收获。妹妹不顾姐姐的挽留，毅然告别那家公司。第二天，姐妹俩一同出门。妹妹按照招聘广告的指引到处找工作，姐姐依然提着样品四处寻找客户。那天晚上，两个人回到出租屋时却是两种心境：妹妹求职无功而返，姐姐却拿回来推销生涯的第一张订单。一家姐姐四次登门过的公司要招开一个大型会议，向她订购二百五十套精美的工艺品作为与会代表的纪念品，总价值二十多万元。姐姐因此拿到两万元的提成，淘到了打工的第一桶金。从此，姐姐的业绩不断攀升，订单一个接一个而来。六年过去了，姐姐不仅拥有了汽车，还拥有一百多平方米的住房和自己的礼品公司。而妹妹的工作却走马灯似地换着，连穿衣吃饭都要靠姐姐资助。妹妹向姐姐请教成功真谛。姐姐说：“其实，我成功的全部秘诀就在于我比你多了一次努力。”只相差一次努力啊，原本天赋相当机遇相同的姐妹俩，自此走上了迥然不同的人生之路。<extra_id_0></s>
<extra_id_1>讲到勤奋，你不如我；论成功，我根本不敢和你比！这是为什么呢？”老板听了，露出一脸的愕然，然后说到：“为什么你们会以为我应该比你们更加勤奋呢？为什么我非要比你们勤奋才能赚钱呢？我从来没有想过自己的钱是靠勤奋赚来的。尽管我也曾经勤奋过，那已经是在很多年以前的事，那时候，我替自己的老板工作。在那个年代，我比你们要勤奋、刻苦得多，却没有你们现在所挣的多。在这个社会，大部分的人都勤奋，但不是大部分的人都能够发财！靠勤奋发不了财！”下属诧异地问道：“发财不是靠勤奋，那靠什么呢？”老板调侃着说：“既然大家都那么勤奋，难道缺我一个，地球就不转了吗？我的长处，是提供让别人有机会勤奋的工作职位，而不是我要比他们更加勤奋！”－人类智慧的进步，让我们有可能既过得舒适，又能够享受富足生活的同时，不再依靠沉重的劳动强度，这要归功于建立在这种智慧基础上的技术和效率，令我们付出越来越少的劳动，却能够获得越来越多的工业产品，而它也正是经营者为我们带来的最大一份贡献！现实早已经证明了：我们并不比自己的祖先勤劳得多，但我们现在的生活水平却是他们远远不能相比的！这要归功于什么呢？显然，勤劳并不是唯一的原因，经营这种有别于一般性劳动的行为，为我们解开了其中的疑问，它也是我要为经营歌功颂德的理由。<extra_id_0></s>
<extra_id_1>在某个地方建起了一座规模宏大的寺庙。竣工之后，寺庙附近的善男信女们就每天祈求佛祖－给他们送来一个最好的雕刻师，好雕刻一尊佛像让大家供奉，于是如来佛就派来了一个擅长雕刻的罗汉幻化成一个雕刻师来到人间。雕刻师在两块已经备好的石料中选了一块质地上乘的石头，开始了工作。可是，没想到他刚拿起凿子凿了几下，这块石头就喊起痛来。雕刻的罗汉就劝它说：“不经过细细的雕琢，你将永远都是一块不起眼的石头，还是忍一忍吧。”可是，等到他的凿子一落到石头身上，那块石头依然哀嚎不已：“痛死我了，痛死我了。求求你，饶了我吧！”雕刻师实在忍受不了这块石头的叫嚷，只好停止了工作。于是，罗汉就只好选了另一块质地远不如它的粗糙石头雕琢。虽然这块石头的质地较差，但它因为自己能被雕刻师选中，而从内心感激不已，同时也对自己将被雕成一尊精美的雕像深信不疑。所以，任凭雕刻师的刀琢斧敲，它都以坚忍的毅力默默的承受过来了。雕刻师则因为知道这块石头的质地差一些，为了展示自己的艺术，他工作的更加卖力，雕琢的更加精细。不久，一尊肃穆庄严、气魄宏大的佛像赫然立在人们的面前，大家惊叹之余，就把它安放到了神坛上。这座庙宇的香火非常的鼎盛，日夜香烟缭绕，天天人流不息。为了方便日益增加的香客行走，那块怕痛的石头被人们弄去填坑筑路了。由于当初承受不了雕琢之苦，现在只得忍受人来车往、车碾脚踩的痛苦。看到那尊雕刻好的佛像安享人们的顶礼膜拜，内心里总觉得不是滋味。有一次，它愤愤不平地对正路过此处的佛祖说：“佛祖啊，这太不公平了！您看那块石头的资质比我差得多，如今却享受着人间的礼赞尊崇，而我却每天遭受凌辱践踏，日晒雨淋，您为什么要这样的偏心啊？”佛祖微微一笑说：“它的资质也许并不如你，但是那块石头的荣耀却是来自一刀一锉的雕琢之痛啊！你既然受不了雕琢之苦，只能最后得到这样的命运啊！”我想，我们每个人都象上帝脚边的一块石料，当你发愿要做什么，要在某一领域成就什么的时候，上帝他会看的见。他要给你的前路摆放一堆你需历经的苦难。你不要报怨，那是上帝在成就你的心愿！当然，也因为成就这一切、洞悉这一切的是上帝，所以我们应平静的接受必须经受和忍受的一切，如果额外自己去找苦吃，只为吃苦而受的苦，也许并没有什么实际的意义。<extra_id_0></s>