One begins by plaguing oneself to no purpose in order to be true to natureand one concludes by working quietly from one's own palette alone and then nature is the result. <extra_id_1>A fool can turn an easy and good deed into a bad one. So, always think twice before choosing your leader. Wise leader can take you to great height while foolish one can turn your life to disaster. <extra_id_2>It is one thing to say that something should be done, but quite a different matter to do it. <extra_id_3>We should not do anything wrong because we have to atone for it in our life.. Even if not in present birth. . <extra_id_4>Never be so shy that you do not ask for what you need.<extra_id_5><mask><extra_id_3>
There were politicians in aesop's time. <extra_id_1>In this world there are millions of source and you can learn from every possible source. With a master you start learning to learn. <extra_id_2>Give a finger and lose a hand. <extra_id_3>not everything you see is what it appears to be.<extra_id_4>Poverty with security is better than plenty in the midst of fear and uncertainty.<extra_id_5><mask><extra_id_5>
It is better to yield than to come to misfortune through stubbornness. <extra_id_1>Better starve free than be a fat slave. <extra_id_2>We should not be lazy in doing our work. <extra_id_3>It is easy to be brave when there is no danger. Don't compare two different situations without understanding them. <extra_id_4>Never give up. Staying positive and passionate can help us to go through hard time in life and start again. Despite getting failed again and again we should not lose hope.<extra_id_5><mask><extra_id_1>
Everyone person is significant and deserve your attention and respect. <extra_id_1>When in anger we should try to stay calm. Once damage done to others can't be taken back. <extra_id_2>Preparedness for war is the best guarantee of peace. <extra_id_3>Indifference to the problems of others can allow those problems to grow until they end up being problems to ourselves. <extra_id_4>In bhagawat gita, lord krishna said, do karma, do not desire for fruit.<extra_id_5><mask><extra_id_3>
Nothing can be gained without effort. <extra_id_1>We cannot hope to be the best at everything, nor that everyone else be just like us. Every individual contributes something of value. <extra_id_2>We should believe in power of god and trust that we can use the power god gave us. We have to believe in god and ourselves before doing anything and then we will much good at doing same thing. <extra_id_3>Even the weakest may find means to avenge a wrong. <extra_id_4>He who often cogitates upon the death of others, little knows what sad fate he may be preparing for himself.<extra_id_5><mask><extra_id_4>