Better humble2 security than gilded3 danger. <extra_id_1>Before doing things, you need to plan them and have the patience to do them at the right time. <extra_id_2>We live in deeds, not years; in thoughts, not breaths; in feelings, not in figures on a dial. We should count time by heart throbs. He most lives who thinks most, feels the noblest, acts the best. <extra_id_3>There are many who pretend to despise and belittle that which is beyond their reach. <extra_id_4>Gems can't pacify hunger.<extra_id_5><mask><extra_id_4>
Do not count your chickens before they are hatched. <extra_id_1>Notoriety is not fame. <extra_id_2>Here is no such thing as a pious lie. When the truth is discovered, the accumulation of deception will multiply the pain experienced. <extra_id_3>Expect no reward for serving the wicked. <extra_id_4>We all desire to have more and because of that we waste chance of enjoying what we already have.. In order to live a happy and healthy life, we should learn to be happy with what we have. .<extra_id_5><mask><extra_id_4>
You never know what your parents had been through to see you happy. So never judge them and respect and care for them always. <extra_id_1>A kindness is never wasted. <extra_id_2>Friendship means never to abandon your friends at difficult times. <extra_id_3>Arrogant leads to vanish. <extra_id_4>Obsession with weight and physical appearance is a sure way to put yourself in a bad mood and create health problems.<extra_id_5><mask><extra_id_2>
We are often of greater importance in our own eyes than in the eyes of our neighbor. The smaller the mind the greater the conceit. <extra_id_1>Always be kind to people because you never know, when and how one can be of help to you in your time of need. <extra_id_2>Material happiness is just like filthy, polluted river because it's a mere reflection of true happiness in spiritual world. We can never achieve happiness we are looking for, how hard we endeavor in material life. Instead we should look upward, toward god, who is source of real happiness. <extra_id_3>Face your fears. <extra_id_4>You can not keep everything you want.<extra_id_5><mask><extra_id_1>
Our best blessings are often the least appreciated. <extra_id_1>It is easy to despise what you cannot get. <extra_id_2>The best way to combat shyness and fear of ridicule is to learn to laugh at yourself. <extra_id_3>Some men are of more consequence in their own eyes than in the eyes of their neighbors. <extra_id_4>Think and work hard, you may find solution to any problem.<extra_id_5><mask><extra_id_1>