When you quarrel someone else gains. <extra_id_1>Do not attempt the impossible. <extra_id_2>Think before you act. <extra_id_3>Generosity and humility are part of the true meaning of christmas. <extra_id_4>The man who speaks for both sides is not to be trusted by either.<extra_id_5><mask><extra_id_2>
In union there is strength and in division we fall. <extra_id_1>Helping others is not a bad thing at all. But sometimes, while we are helping others, we forget our own problems and needs. One must remember that sometimes sharing is better than giving away. You can do a lot more by being in a strong position instead of bringing yourself into a weaker situation. <extra_id_2>Better to yield when it is folly to resist, than to resist stubbornly and be destroyed. <extra_id_3>Wise person learn from anyone and everyone and as soon as he understand his mistake, he corrects them and move forward. <extra_id_4>Every time you victimized someone, you were victimizing yourself. Every act of kindness you have done was done to yourself. Every emotions experienced by any human will be experienced by you. .<extra_id_5><mask><extra_id_3>
We are all valuable in ourselves; much more so than we sometimes believe. <extra_id_1>Life is short. Always ask, never assume. <extra_id_2>A good traveler has no fixed plans and is not intent on arriving. <extra_id_3>Do your work now. <extra_id_4>In a pinch a good use of our wits may help us out.<extra_id_5><mask><extra_id_5>
It's always good to have a second language. <extra_id_1>Do not attempt the impossible. <extra_id_2>Those who seek to harm others often come to harm themselves through their own deceit. <extra_id_3>A story to help children discover the joys of reading, and the torrent of experience and imagination it releases. <extra_id_4>We should try to understand others pain and help them, not make fun of them.<extra_id_5><mask><extra_id_3>
A way to overcome fear of darkness in children, through imagination and creativity. <extra_id_1>Look before you leap. <extra_id_2>Pride goes before fall. <extra_id_3>Never judge anyone by their outlook. <extra_id_4>The evil doer often comes to harm through his own deceit.<extra_id_5><mask><extra_id_5