我们要懂得去发现别人的美丽，眼里看到的要是漂亮的事物。<extra_id_1>若想帮助别人彻底改掉偷盗的恶习，就不能纵容别人，避免制造犯罪的机会。<extra_id_2>在欢娱中取乐，而又不沉溺于欢娱，比抛弃欢娱更难。<extra_id_3>演戏就是做人。做人做到家，事才会做到家。勘弥告诉我们，千万不要随意封住别人对你的善良之门。<extra_id_4>收获，也是讲究时机的。同样是熟透的果实，如果收获的时机得当，就会满载而归；否则，到手的果实也会不翼而飞，让你劳而无功。<extra_id_5><mask><extra_id_5>
与地位显赫、蛮不讲理的强者讲道理、辨是非，简直就是白费心机。<extra_id_1>不要小瞧任何人，因为尺有所短寸有所长，自已再有本事，也可能有着所不及于它人之处。<extra_id_2>一个不愿付出、不愿冒风险的人，一事无成对他来说是再自然不过的事。<extra_id_3>任何人都无法选择自己的出身，但不必沾沾自喜生于豪门，也不必自怨自艾我咋是苦出身，更不必因此给自己的人生下结论，只要你不自轻自贱，也许能成为豪雄。<extra_id_4>其实看似严谨的法律也有很多无法解决的问题，这可能关系到我们生活的方方面面。作为一个普通人，不关心法律是不行的。<extra_id_5><mask><extra_id_3>
在职场，不能像驴一样只知埋头拉磨，除了本职工作，公司里的其他事情都应该尝试着主动去做。如果什么事都不去关心，什么情况都以本职工作为挡箭牌推托，久而久之，你就只能原地踏步。你是否只耕耘不收获？<extra_id_1>人们往往把命运交给漫长的一生去隐忍和磨砺。平淡的时光犹如暗夜长彻，唯有那决定性的一瞬，像闪电撕破夜幕，照亮无边的黑暗。<extra_id_2>丰厚收入的背后一定有更多的压力和艰辛，当然也有更多的贡献。当你抱怨待遇不公，嫉妒别人幸运时，想想你自己到底能出多少力，能顶多少事。<extra_id_3>人要有一颗善良的心，也要有面对危险所要有的反应，还要有良好的心态。<extra_id_4>成功没有时间表。只要时刻保持自信和奋斗的雄心，生命的硕果就会永远如影相随。<extra_id_5><mask><extra_id_1>
比赛需要天赋。<extra_id_1>将欲取之，必先予之。取与舍是一对辩证的关系，做生意也需要放远眼光，切忌急功近利。<extra_id_2>让没有真正价值的东西占住我们的世界，有真正价值的珍宝便不会到来，忍痛割爱，往往能让人得到更多。<extra_id_3>也许上帝也有打盹的时候吧！某人应得的惩罚有时候会鬼使神差地落在别人头上，但这并不值得庆幸，因为惩罚已经以另外的方式落在了他自己身上。<extra_id_4>自由比安乐更重要。<extra_id_5><mask><extra_id_2>
在别人见不着的地方严于律己，才是最大的自律啊！<extra_id_1>勤勉和努力是固不可少的。然而，你还必须要知道的就是：方向比努力更重要。<extra_id_2>生活中，我们总是在做这样的事情：为了获得而丧失更有价值的东西。只因为我们眼中充满了代表获得的一切，对于那些在获得中所失去的，我们已经无法发现。<extra_id_3>把复杂的问题简单化，思维一定要学会删繁就简。<extra_id_4>我们生活一天，就得奋斗一天。<extra_id_5><mask><extra_id_5>