黄鼠狼的下场就是贪图享受没有居安思危的结果。<extra_id_1>适当地给孩子们出点难题，让他们出出丑，然后选择时机就事论事，往往能够鼓励他们认识到自己的缺点，并自己找到解决问题的办法。<extra_id_2>我们要懂得去分享也要懂得去感受，生活中的美好都需要我们自己去发现。<extra_id_3>外表可以相似，但内涵却是无法取代的。<extra_id_4>我们应该看到自己的缺点，然后加以改正。<extra_id_5><mask><extra_id_4>
当别人做了对不起你的事时，能不能冷静下来，甚至更加理解和关心他的苦楚，也许，真的能感动他，而使他悔过自新。当然，能够做到以德报怨是需要有很好的涵养和开阔的胸襟的。<extra_id_1>认为局部和整体、现象和本质之间都是截然分开，毫无联系的人是愚蠢可笑的。<extra_id_2>正人先正己。<extra_id_3>得与失本来就没有绝对的。<extra_id_4>陪伴和开心的情绪都是值得去珍惜的东西，我们不要把它们丢掉。<extra_id_5><mask><extra_id_4>
要真正学会一件事并没有那么简单，在旁边看看就会的，除非是天才。不要期望在你不懂的行业中获取多大的利益。<extra_id_1>外界因素是一种约束条件，自身能力也是一种约束条件，往往更重要。所以，别人能成功的事，未必自己就能成功。<extra_id_2>这是说，有些人不知好歹，享受了别人的帮助，还要贬低别人。<extra_id_3>要选择对象实行善举，这很重要。<extra_id_4>年轻人永远无法体会老年人的感受，老年人却总是羡慕年轻人的活力。有些事情，只有经过了才知道珍惜，否则，即使让你重新来过，也一样会丢弃。<extra_id_5><mask><extra_id_2>
凡事“进易退难”，因此平时应该训练自己对环境的观察力，提高对社会的敏锐度，谋定而后动，才能让自己立于不败之地；率性莽撞的作为，则很可能会将自己处于万劫不复的不利险境。<extra_id_1>那些叫唤得特别响的人往往干活少，而那些不做声的人往往承担着全部重量。<extra_id_2>迎难而上的勇气固然可贵，但这种勇气更需要理智的光辉。避开问题换一条路走，有时候看起来不够体面，却往往是一种高瞻远瞩的智慧。<extra_id_3>有些人只看到了有秩序的美，却忽略了千姿百态的自然之美。<extra_id_4>我们的朋友们不能一直在身边，但是我们与朋友之间是互相牵挂、互相惦念的，即使不联系也会在心里挂念着对方，这就是友谊的魅力。<extra_id_5><mask><extra_id_1>
面对已经拥有的，人们往往会不加珍惜，这不仅是对别人，也是对自己的一种伤害和损失。生活如此，人生也如此，游移不定的目标只能让你前功尽弃、一无所获！<extra_id_1>良好的心境有利无弊。天下本无事，庸人自扰之。心情好，阳光才明媚；心境好，人生才流畅。<extra_id_2>对于形式的注重常常让人抛弃了内容的本身。<extra_id_3>我们外出玩耍时不要乱跑，要紧跟着爸爸妈妈，走丢可是会遇上危险的。<extra_id_4>迎难而上的勇气固然可贵，但这种勇气更需要理智的光辉。避开问题换一条路走，有时候看起来不够体面，却往往是一种高瞻远瞩的智慧。<extra_id_5><mask><extra_id_1>