如果能让失败成为你的亮点，那么完全有可能因为曾经的失败而胜出，因为失败也是一笔财富。<extra_id_1>每个人都有他的长处，即使是很弱小的人。聪明的领导者善于发掘民众身上的长处，为自己的事业服务。<extra_id_2>很多时候，我们不是败在缺陷上，而是败在优势里。<extra_id_3>吝啬鬼假惺惺的许诺是不能相信的。<extra_id_4>我们做生意，讲究的是诚信二字。<extra_id_5><mask><extra_id_3>
人的过错皆因昏然失态，认知错乱，莫能及时看清自己的真实嘴脸。人，不能活在幻觉里！<extra_id_1>潜能的激发往往产生于不起眼的事情。<extra_id_2>心态左右一切。你对别人好别人也会对你好。<extra_id_3>两个人一起慢慢变老，坦然面对岁月留下的痕迹，这就是幸福。<extra_id_4>出于爱与责任往往会让我们忘记了婚姻中角色的分配，我们努力的使自己处于一种支配地位，却从来没发现那只是一种干扰而已。<extra_id_5><mask><extra_id_2>
多少业绩辉煌的知名人士，最初的成功也就源于“多了一次努力”<extra_id_1>女人骨子里都是虚荣的，喜欢听赞美之词，即使明知道那些话是假的。<extra_id_2>再可怕的贪婪也都是从贪小便宜开始的。而一旦有了开始，人好像再无法控制自己的欲望。所以说，欲望如同绳子的一端，如果任由其拉扯，就会在不经意间一步步迈向罪恶的深渊。<extra_id_3>只有洗去心中的种种虚妄，放下贪欲，回归到平实的本质，才会看破世间的一切荣华富贵，才最终体验到生命的无尽悦乐。<extra_id_4>人们都习惯于从自身角度考虑问题，总认为自己所熟悉的东西是最好的，三句话不离本行。<extra_id_5><mask><extra_id_1>
我们要有道德约束，有自己的底线。<extra_id_1>不要随便就满足自己盲目的好奇心，当你看清楚那其实是一个陷阱的时候，很可能已经晚了。<extra_id_2>衡量得与失的标准不要从最大的顶数开始，而要从最小的基数开始。这种计量方法不仅会使你得到物质，还会使你得到快乐与幸福。<extra_id_3>与其默默无闻地埋头苦干，不如多动些脑子！<extra_id_4>诸法空寂是禅的一种境界，只有达到这样的境界才能超脱于世间。佛之为佛，就在于佛得灵悟和不为外物所动；菩萨之所以为菩萨，就在于菩萨的不动念。只有这样，才能达到涅槃的彼岸。<extra_id_5><mask><extra_id_4>
虾没有充分认识到自身活动的规律和生活习性，盲目跳到岸上去晒太阳。可见，迷失自我的过程，也就是酿造悲剧的过程。存在之道其实很简单，只要不模仿别人就行了，适合自己的才是最好的。<extra_id_1>生命的厚礼，只会赏赐给那些肯于一尝的人。<extra_id_2>一个人面对外面的世界时，需要的是窗子；一个人面对自我时，需要的是镜子。面对外面用窗才能看见世界的明亮，面对自我用镜子才能看见自己的污点。<extra_id_3>当你忍受这一个又一个苦难，跨越这一番又一番磨练，向着心中的目标迈进的时候，上帝的刻刀已在你身上雕琢了一遍又一遍。<extra_id_4>真正的爱情犹如一块璞玉，岁月是无法摧毁和磨蚀它的，而只会把它雕琢得愈发璀璨与珍贵。<extra_id_5><mask><extra_id_4>