<extra_id_1>外表可以相似，但内涵却是无法取代的。<extra_id_0></s>
<extra_id_1>得与失本来就没有绝对的。<extra_id_0></s>
<extra_id_1>外界因素是一种约束条件，自身能力也是一种约束条件，往往更重要。所以，别人能成功的事，未必自己就能成功。<extra_id_0></s>
<extra_id_1>凡事“进易退难”，因此平时应该训练自己对环境的观察力，提高对社会的敏锐度，谋定而后动，才能让自己立于不败之地；率性莽撞的作为，则很可能会将自己处于万劫不复的不利险境。<extra_id_0></s>
<extra_id_1>面对已经拥有的，人们往往会不加珍惜，这不仅是对别人，也是对自己的一种伤害和损失。生活如此，人生也如此，游移不定的目标只能让你前功尽弃、一无所获！<extra_id_0></s>