<extra_id_0>很多时候，我们不是败在缺陷上，而是败在优势里。</s>
<extra_id_0>潜能的激发往往产生于不起眼的事情。</s>
<extra_id_0>多少业绩辉煌的知名人士，最初的成功也就源于“多了一次努力”</s>
<extra_id_0>与其默默无闻地埋头苦干，不如多动些脑子！</s>
<extra_id_0>当你忍受这一个又一个苦难，跨越这一番又一番磨练，向着心中的目标迈进的时候，上帝的刻刀已在你身上雕琢了一遍又一遍。</s>