<extra_id_1>The grapes seemed ready to burst with juice, and the fox's mouth watered as he gazed longingly at them. The bunch hung from a high branch, and the fox had to jump for it. The first time he jumped he missed it by a long way. So he walked off a short distance and took a running leap at it, only to fall short once more. Again and again he tried, but in vain. Now he sat down and looked at the grapes in disgust. "What a fool I am," He said. "Here I am wearing myself out to get a bunch of sour grapes that are not worth gaping for."And off he walked very, very scornfully.<extra_id_0></s>
<extra_id_1>and a bone had stuck crosswise in his throat. He could get it neither up nor down, and of course he could not eat a thing. Naturally that was an awful state of affairs for a greedy wolf. So away he hurried to the crane. He was sure that she, with her long neck and bill, would easily be able to reach the bone and pull it out. "I will reward you very handsomely," Said the wolf, "If you pull that bone out for me."The crane, as you can imagine, was very uneasy about putting her head in a wolf's throat. But she was grasping in nature, so she did what the wolf asked her to do. When the wolf felt that the bone was gone, he started to walk away. "But what about my reward!" Called the crane anxiously. "What!" Snarled the wolf, whirling around. "Haven't you got it? isn't it enough that I let you take your head out of my mouth without snapping it off?"<extra_id_0></s>
<extra_id_1>his great head resting on his paws. A timid little mouse came upon him unexpectedly, and in her fright and haste to get away, ran across the lion's nose. Roused from his nap, the lion laid his huge paw angrily on the tiny creature to kill her. "Spare me!" Begged the poor mouse. "Please let me go and some day I will surely repay you."The lion was much amused to think that a mouse could ever help him. But he was generous and finally let the mouse go. Some days later, while stalking his prey in the forest, the lion was caught in the toils of a hunter's net. Unable to free himself, he filled the forest with his angry roaring. The mouse knew the voice and quickly found the lion struggling in the net. Running to one of the great ropes that bound him, she gnawed it until it parted, and soon the lion was free. "You laughed when I said I would repay you," Said the mouse. "Now you see that even a mouse can help a lion."<extra_id_0></s>
<extra_id_1>After he had rested a short time, he made ready to fly away. But before he left he begged the bull's pardon for having used his horn for a resting place. "You must be very glad to have me go now," He said. "It's all the same to me," Replied the bull. "I did not even know you were there."<extra_id_0></s>
<extra_id_1>sought the shade of a widespreading tree to rest. As they lay looking up among the pleasant leaves, they saw that it was a plane tree. "How useless is the plane!" Said one of them. "It bears no fruit whatever, and only serves to litter the ground with leaves.""Ungrateful creatures!" Said a voice from the plane tree. "You lie here in my cooling shade, and yet you say I am useless! thus ungratefully, o jupiter, do men receive their blessings!"<extra_id_0></s>