<extra_id_1>As he splashed heavily into the water, he crushed a young frog into the mud. The old frog soon missed the little one and asked his brothers and sisters what had become of him. "A great big monster," Said one of them, "Stepped on little brother with one of his huge feet!""Big, was he!" Said the old frog, puffing herself up. "Was he as big as this?""Oh, much bigger!" They cried. The frog puffed up still more. "He could not have been bigger than this," She said. But the little frogs all declared that the monster was much, much bigger and the old frog kept puffing herself out more and more until, all at once, she burst.<extra_id_0></s>
<extra_id_1>When the wind blew, the great oak stood proudly upright with its hundred arms uplifted to the sky. But the reeds bowed low in the wind and sang a sad and mournful song. "You have reason to complain," Said the oak. "The slightest breeze that ruffles the surface of the water makes you bow your heads, while I, the mighty oak, stand upright and firm before the howling tempest.""Do not worry about us," Replied the reeds. "The winds do not harm us. we bow before them and so we do not break. you, in all your pride and strength, have so far resisted their blows. but the end is coming."As the reeds spoke a great hurricane rushed out of the north. The oak stood proudly and fought against the storm, while the yielding reeds bowed low. The wind redoubled in fury, and all at once the great tree fell, torn up by the roots, and lay among the pitying reeds.<extra_id_0></s>
<extra_id_1>when the birds could find very little to drink, a thirsty crow found a pitcher with a little water in it. But the pitcher was high and had a narrow neck, and no matter how he tried, the crow could not reach the water. The poor thing felt as if he must die of thirst. Then an idea came to him. Picking up some small pebbles, he dropped them into the pitcher one by one. With each pebble the water rose a little higher until at last it was near enough so he could drink.<extra_id_0></s>
<extra_id_1>When the frog saw the mouse, he swam to the bank and croaked:"Won't you pay me a visit? I can promise you a good time if you do."The mouse did not need much coaxing, for he was very anxious to see the world and everything in it. But though he could swim a little, he did not dare risk going into the pond without some help. The frog had a plan. He tied the mouse's leg to his own with a tough reed. Then into the pond he jumped, dragging his foolish companion with him. The mouse soon had enough of it and wanted to return to shore; but the treacherous frog had other plans. He pulled the mouse down under the water and drowned him. But before he could untie the reed that bound him to the dead mouse, a hawk came sailing over the pond. Seeing the body of the mouse floating on the water, the hawk swooped down, seized the mouse and carried it off, with the frog dangling from its leg. Thus at one swoop he had caught both meat and fish for his dinner.<extra_id_0></s>
<extra_id_1>But one night he found a sheep skin that had been cast aside and forgotten. The next day, dressed in the skin, the wolf strolled into the pasture with the sheep. Soon a little lamb was following him about and was quickly led away to slaughter. That evening the wolf entered the fold with the flock. But it happened that the shepherd took a fancy for mutton broth that very evening, and, picking up a knife, went to the fold. There the first he laid hands on and killed was the wolf.<extra_id_0></s>